@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&display=swap');

b {
    margin: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    display: flex
}

span {
    display: inline-block;
}

.weatherDetails {
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
}